<div class="login-container">
    <div class="login-form">
        <h3>{{'form.login-header' | translate}}</h3>

        <div class="user-data">
            <div class="email">
                <label for="email">{{'form.input-email' | translate}}</label>
                <input [(ngModel)]="email">
            </div>
            <div class="password">
                <label for="password">{{'form.input-password' | translate}}</label>
                <input [(ngModel)]="password" />
            </div>
        </div>

        <div class="buttons">
            <div class="login-button-container">
                <button class="login-button" (click)="onLogin()">{{'form.login-button' | translate}}</button>
                <div class="login-forgot" (click)="onForgot()">{{'form.forgot-text' | translate}}</div>
            </div>

            <div class="signup-button-container">
                <button class="signup-button" (click)="onSignup()">{{'form.signup-button' | translate}}</button>
            </div>
        </div>
    </div>
</div>
Users:
<div *ngFor="let user of users">
    {{ user.email }} - {{ user.lastName }} -{{ user.firstName}}
</div>